html
  head
    title= title
  body
    h1= message
    form(id="user-create-form"
    action="/uploads" method="POST" 
    enctype="multipart/form-data")
      fieldset
        legend= "Upload File Here!"
        input(type="file" name="myFile" id="myFile")
        label(name="myFile")
        span(data-text="Choose File: ") Choose File: 
        button(type="submit" value="Submit") Submit
  each val in array
    img(src="/uploads/" + val)